h4 {{ name }}
div {{ trip.sensorData.sensors[sensor].length }}/{{ trip.sensorData.count[sensor] }}
a(ng-href="./trips/{{trip.id}}/gra.csv", download='livegov-trip-{{trip.id}}-sensor-gra.csv') JSON 
a(ng-href="./trips/{{trip.id}}/gra.csv", download='livegov-trip-{{trip.id}}-sensor-gra.csv') CSV
