nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation" ng-controller="navCtrl as ctrl")
    ul.nav.navbar-nav
      li(ng-class='{active:ctrl.loc("rec")}')
        a(href="#/rec/{{trip_id}}") Recordings
      li(ng-class='{active:ctrl.loc("raw"), disabled:!ctrl.selected()}')
        a(ng-hide='!ctrl.selected()', href="#/raw/{{trip_id}}") Raw Data
        a(ng-show='!ctrl.selected()', href="") Raw Data
      li(ng-class='{active:ctrl.loc("har"), disabled:!ctrl.selected()}')
        a(ng-hide='!ctrl.selected()', ng-href="#/har/{{trip_id}}") Activity Recognition
        a(ng-show='!ctrl.selected()', ng-href="") Activity Recognition

    ul.nav.navbar-nav.pull-right
      li
        a(ng-cloak, ng-class="{errors:$root.httpRequestErrors}", title='the number in parentheses displays the currently running http/xhr requests') {{ $root.httpRequests ? 'loading... (' + $root.httpRequests + ')' : 'ready' }}
