nav.pure-menu.pure-menu-open.pure-menu-horizontal(role="navigation" ng-controller="navCtrl as ctrl")
  a.pure-menu-heading LiveGov_WP1
  ul
    li(ng-class='{pureMenuSelected:ctrl.loc("rec")}')
      a(href="#/rec/{{trip_id}}") recordings
    li(ng-class='{pureMenuSelected:ctrl.loc("raw"), disabled:!ctrl.selected()}')
      a(ng-hide='!ctrl.selected()', href="#/raw/{{trip_id}}") raw_data
      a(ng-show='!ctrl.selected()', href="") raw_data
    li(ng-class='{pureMenuSelected:ctrl.loc("har"), disabled:!ctrl.selected()}')
      a(ng-hide='!ctrl.selected()', ng-href="#/har/{{trip_id}}") activity_recognition
      a(ng-show='!ctrl.selected()', ng-href="") activity_recognition

nav.pure-menu.pure-menu-open.pure-menu-horizontal(role="navigation" ng-controller="navCtrl as ctrl")
  ul
    li
      a(ng-cloak, ng-class="{errors:$root.httpRequestErrors}", title='the number in parentheses displays the currently running http/xhr requests') {{ $root.httpRequests ? 'loading... (' + $root.httpRequests + ')' : 'ready' }}
