//- this calls the 'raw' angular directive which renders the 'raw' react component
raw(ng-controller="tripCtrl as ctrl", trip='trip', sensors='acc,gra,lac', load-More-Data="loadMoreData(extent, oldExtent)")
